.body {
  background-color: black;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
}

.header p,
.content-body p,
.footer p {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  background-clip: text;
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.content-body {
  display: flex;
  height: 80%;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;

  background: rgb(250, 241, 224);
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;

  justify-content: center;
  align-items: center;
  background: black;
}

.search {
  display: flex;
  height: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

.center-console {
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgrey;
}
